.nav-box {
  display:  flex;
  flex-direction:  column;
  left:  0px;
  width: 120px;
  position:  fixed;
  background-image:
  linear-gradient(
    to top,
    #ff7abd,
    #ff9671

  );
  height: 100vh;
}

img.user-image {
  height: 110px;
  background:  white;
  border:  1px solid black;
  border-radius: 53%;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.nav-top-buttons {
  display:  flex;
  flex-direction:  column;
  width: 100%;
}

button.nav-logout-button {
  position: absolute;
  bottom: 10px;
  width: 100%;
  background:  none;
  border: 0;
}

img.logout-button {
  height: 50px;
}

.user-info {
  color:  white;
  margin-bottom: 15px;
}